.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;

}

p{
    margin-bottom: 15px;
    color: #666666;
}

.rep{
    margin: 15px 10px;
    cursor: pointer;
}

.repository:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

a{
    margin-bottom: 10px;
    color: #3c3a3a;
    text-decoration: none;
}

.repository{
    padding: 7px 15px;
    box-shadow:0 5px 5px rgba(0,0,0,0.1);
    border-radius: 30px;
}

.login, .location, .repository{
    font-family: Montserrat, sans-serif;
}

.avatar{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.repowrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}